Binaries
Engine
UDKGame/Autosaves
UDKGame/Build
UDKGame/Cloud
UDKGame/Logs
UDKGame/Config/*/
UDKGame/ProjectTemplates
UDKGame/PCTOC.txt
UDKGame/PCTOC_CHN.txt
UDKGame/PCTOC_JPN.txt
UDKGame/PCTOC_KOR.txt

UDKGame/Flash/*
*.user
*.suo
*.swf
!UDKGame/Flash/ActionScript/
!UDKGame/Flash/SNL*
!UDKGame/Flash/*.as3proj

UDKGame/Content/*
!UDKGame/Content/Maps
UDKGame/Content/Maps/*
!UDKGame/Content/Maps/RV8
!UDKGame/Content/RV8
UDKGame/Localization/
UDKGame/Movies/Default.m4v
UDKGame/Splash/PC/*.url
UDKGame/Splash/MAC/
UDKGame/Config/*
!UDKGame/Config/Default*.ini

Bash.lnk
UDKGame/Screenshots/
UDKGame/Script/
UDKGame/CookedPC/
UDKGame/CookedMac/
UDKGame/ScriptFinalRelease/
UDKGame/Cache/
Development/
UDKGame/Flash/
UDKGame/Movies/
UDKGame/Splash/
